body{
    background: rgba(14, 14, 14, 0.965); 
    overflow-x: hidden;
    
}
.container-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
header{
    position: sticky;
    top: 0;
}
main{
    flex-grow: 1;
    width: 100%;
}
/* Footer Starts */
.footer {
    /* background: rgba(14, 14, 14, 0.965); Transparent background */
    /* padding: 86px 0; */
    background: black;
    width: 100%;
    /* position:absolute; */
    bottom: 0;
}

.single-content {
    text-align: center;
    padding: 115px 0;
}

.single-box p {
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white text */
    line-height: 1.9;
}

.single-box h3 {
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white text */
}

.single-box .card-area i {
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white icon */
    font-size: 20px;
    margin-right: 10px;
}

.single-box ul {
    list-style: none;
    padding: 0;
}

.single-box ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white link */
    line-height: 2.5;
    font-weight: 100;
}

.single-box h2 {
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white text */
    font-size: 20px;
    font-weight: 700;
}

#basic-addon2 {
    background: rgba(254, 30, 79, 0.7); /* Transparent red background */
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white text */
}

.socials i {
    font-size: 18px;
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white icon */
}

@media (max-width: 767px) {
    .single-box {
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .single-box {
        margin-bottom: 50px;
    }
}
/* Footer End */

/* nav  */
.bg-style{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Footer  */
.single-content {
    text-align: center;
    padding: 115px 0;
}

.single-box p {
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white text */
    line-height: 1.9;
}

.single-box h3 {
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white text */
}

.single-box .card-area i {
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white icon */
    font-size: 20px;
    margin-right: 10px;
}

.single-box ul {
    list-style: none;
    padding: 0;
}

.single-box ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white link */
    line-height: 2.5;
    font-weight: 100;
}

.single-box h2 {
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white text */
    font-size: 20px;
    font-weight: 700;
}

#basic-addon2 {
    background: rgba(254, 30, 79, 0.7); /* Transparent red background */
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white text */
}

.socials i {
    font-size: 18px;
    margin-right: 15px;
    color: rgba(255, 255, 255, 0.8); /* Slightly transparent white icon */
}

@media (max-width: 767px) {
    .single-box {
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .single-box {
        margin-bottom: 50px;
    }
}

/* Slider */
#textSlider.row {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100% !important;
}
#textSlider div {
	color: #FFF;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}

.iamCol {
    text-align: right;
	float: left;
	font-weight: 300;
	font-size:30pt;
}
.iamCol p:nth-child(2) { margin-top: -20pt !important; }
.slideCol {
	text-align: left;
    overflow: hidden;
	font-weight: 900;
	font-size:70pt;
	display: block;
	white-space: nowrap;
}
.slideCol p { 
    margin: 0px !important;
    font-size:50pt; ;
 }

.scroller {
   height: 70pt;
   line-height: 70pt;
   overflow: hidden;
}
.scroller .inner { animation: 10s normal infinite running scroll; }
@keyframes scroll {
   0%  	{margin-top: 0px;}
   15% 	{margin-top: 0px;}

   25%  {margin-top: -70pt;}
   40%  {margin-top: -70pt;}
   
   50%  {margin-top: -140pt;}
   65%  {margin-top: -140pt;}

   75%  {margin-top: -210pt;}
   90%  {margin-top: -210pt;}

   100% {margin-top: 0px;}
}
.custom-card-width {
    width: 300px; /* Adjust the width as needed */
    height: auto;
    margin: 0 auto; /* Center horizontally */
  }

 .card-body button{
 width: 100%;
 }
  



